[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
transformers = "*"
scipy = "*"
ftfy = "*"
accelerate = "*"
matplotlib = "*"
safetensors = "*"
streamlit = "*"
xformers = "*"
fastapi = {extras = ["all"], version = "*"}
controlnet-aux = "*"
python-multipart = "*"
torch = "*"
diffusers = {extras = ["torch"], version = "*"}
compel = "*"
omegaconf = "*"
mediapipe = "*"

[dev-packages]

[requires]
python_version = "3.10"
